.header__wrapper{
  align-items: center;
  background-color: green;
  display: flex;
  height: 20vh;
  justify-content: center;
  width: 100vw;
}

.header__title{
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}